<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<f:view>
    <h:outputText value="Basic Java EE project, Enter your name below..."/>
    <br></br>
    <h:form>
        <h:form>
            <h:commandButton value="Trigger important" action="#{boss.triggerImportantEvents}"/>
            <h:commandButton value="Trigger non important" action="#{boss.triggerNonImportantEvents}"/>
        </h:form>
    </h:form>
</f:view>
</html>
